/* .App{
  
} */
.home{
  background: url(assets/teacher.jpg);
  font-family: Arial;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  width: auto;
}
.left-head{
  position: relative;
  height:200px;
  border-right:15px solid rgba(172, 125, 108, 0.568);
  border-bottom: 15px solid rgba(172, 125, 108, 0.568);
  z-index: 1;
}
.center-head{
  position: relative;
  height:200px;
  border-right:15px solid rgba(172, 125, 108, 0.568);
  border-left:15px solid rgba(172, 125, 108, 0.568);
  border-bottom: 15px solid rgba(172, 125, 108, 0.568);
  z-index: 1;
}
.center-head .answer{
  border: 1px solid rgb(39, 36, 36);
}
.right-head{
  position: relative;
  height:200px;
  border-left:15px solid rgba(172, 125, 108, 0.568);
  border-bottom: 15px solid rgba(172, 125, 108, 0.568);
  z-index: 1;
}
.button-link{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px;
  z-index: 1;
}
.buttons{
  z-index: 1;
}
.opac{
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

/* register */
body {
  background-color: rgb(226, 242, 255);
  font-family:Arial;
  text-align: left;
}
.register{
  max-width: 80%;
  height: 600px auto;
  background: white;
  /* margin: 0 auto; */
  border-radius: 27px;
  box-shadow: 1px 1px 10px rgb(196, 211, 238);
}
.register .image-style{
  height: 600px;
  width: 100%;
  margin-left: -12px;
  border-radius: 27px 0px 0px 27px;

  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideFromLeft;
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.register .imagetext{
  position: absolute;
  padding-top: 20px;
  padding-left: 30px;
  
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: slideFromTop;
}
.register .imagetext h1{
  font-weight: 750;
}
.register .imagetext p{
  margin-top: -10px;
  font-size: 13px;
}
.register .imagetext .tuton{
  color: #3B75C9;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-300px);
    opacity: 0 ;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.register .signup_box{
  max-width: 100%;
  height: 100%;
  border-radius: 0px 27px 27px 0px;

  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.register .account_v{
  font-size: 10.5px;
  margin-top:-10px;
}
.register .signin{
  font-size: medium;
  text-decoration: none;
  font-weight: bold;
  color: #5f97ecd5;
}
.register .google{
  border: 1px solid rgb(234, 243, 250);
  width: 75%;
  border-radius: 7px;
  margin: 0 auto;
}
.register .google a{
  color: black;
  text-decoration: none;
  font-size: small;
}
.register .googleimg{
  height: 30px;
  width: 30px;
}
.register .p_line{
  overflow: hidden;
  text-align: center;
  font-size: smaller;
  color: #5f97ecd5;
}
  .register .p_line:before, .register .p_line:after{
    background-color: #8b8b8bd5;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .register .p_line:before{
    right: 0.5em;
    margin-left: -50%;
  }
  .register .p_line:after{
    left: 0.5em;
    margin-right: -50%;
  }
.register form{
  margin-top: -50px;
}
  .register form label{
  font-size: 13px;
  padding-top: 20px;
}
.register form input::placeholder{
  font-size: 13px;
  color: rgb(177, 177, 177);
  padding-left: 15px;
}
.register form input, .register form select{
  width: 85%;
  border-radius: 7px;
  border: 0px;
  box-shadow: 1px 1px 3px rgb(188, 208, 245);
}
.register .error-message{
  width: 85%;
}
.register .submit{
  background-color: #5f97ecd5;
  color: white;
  font-weight: 600;
  width: 75%;
}


/* parent_login */
.parent_login{
  max-width: 80%;
  height: 600px auto;
  background: white;
  /* margin: 0 auto; */
  border-radius: 27px;
  box-shadow: 1px 1px 10px rgb(196, 211, 238);
}
.parent_login .image-style{
  height: 600px;
  width: 100%;
  border-radius: 0px 27px 27px 0px;

  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideFromLeft;
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.parent_login .imagetext{
  position: absolute;
  right: 8%;
  padding-top: 20px;
  padding-right: 30px;
  
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: slideFromTop;
}
.parent_login .imagetext h1{
  font-weight: 750;
}
.parent_login .imagetext p{
  margin-top: -10px;
  font-size: 13px;
}
.parent_login .imagetext .tuton{
  color: #3B75C9;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-300px);
    opacity: 0 ;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.parent_login .signup_box{
  max-width: 100%;
  height: 100%;
  border-radius: 0px 27px 27px 0px;

  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.parent_login .account_v{
  font-size: 10.5px;
  margin-top:-10px;
}
.parent_login .signin{
  font-size: medium;
  text-decoration: none;
  font-weight: bold;
  color: #5f97ecd5;
}
.parent_login .forgot-password{
  font-size: small;
  text-decoration: none;
  font-weight: bold;
  color: #5f97ecd5;
}
.parent_login .google{
  border: 1px solid rgb(234, 243, 250);
  width: 75%;
  border-radius: 7px;
  margin: 0 auto;
}
.parent_login .google a{
  color: black;
  text-decoration: none;
  font-size: small;
}
.parent_login .googleimg{
  height: 30px;
  width: 30px;
}
.parent_login .p_line{
  overflow: hidden;
  text-align: center;
  font-size: smaller;
  color: #5f97ecd5;
}
  .parent_login .p_line:before, .parent_login .p_line:after{
    background-color: #8b8b8bd5;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .parent_login .p_line:before{
    right: 0.5em;
    margin-left: -50%;
  }
  .parent_login .p_line:after{
    left: 0.5em;
    margin-right: -50%;
  }
.parent_login form{
  margin-top: -50px;
}
  .parent_login form label{
  font-size: 13px;
  padding-top: 20px;
  margin-left: 30px;
}
.parent_login form input::placeholder{
  font-size: 13px;
  color: rgb(177, 177, 177);
  padding-left: 15px;
}
.parent_login form input, .parent_login form select{
  width: 85%;
  border-radius: 7px;
  border: 0px;
  box-shadow: 1px 1px 3px rgb(188, 208, 245);
}
.parent_login .eye-icon{
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
  color: #8d8d8d;
}
.parent_login .submit{
  background-color: #5f97ecd5;
  color: white;
  font-size: small;
  font-weight: 600;
  width: 75%;
}
.parent_login .submit2{
  background-color: #E1F5FB;
  color: black;
  font-size: small;
  font-weight: 600;
  width: 45%;
  border-radius: 10px;
}
.parent_login .background{
  background-color: rgba(59, 117, 201, 1);
  color: white;
  position: absolute;
  height: 600px;
  max-width: 81%;
  margin: 0 auto;
  border-radius: 27px;
  top: 0;

  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: rotat;
}
.parent_login .login-font{
  color: white;
  position: absolute;
  border-radius: 27px; 
  top: 40%;
  left: 46%;
  font-size: 100px;
  z-index: 1;
}
.parent_login .text{
  color: white;
  position: absolute; 
  top: 40%;
  left: 0;
  font-size: small;
  z-index: 1;

  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fall;
}

@keyframes rotat {
  0% {
    transform: rotateY(180deg);
    opacity: 0 ;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
@keyframes fall {
  0% {
    transform: translateY(-300px);
    opacity: 0 ;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.parent_login .dis-none{
  display: none;
}


/* request_demo */
.view_tutors .search-icon{
  color: #7a7a7a;
  margin-left: -22px;
}

.nav_side {
  position: fixed;
  width: 210px;
  height: 100%;
  background: black;
}




/* tutor */


/* 
/* admin login styling*/

 .admin_login_head{
  border: 2px solid rgb(39, 36, 36);
  display: inline-block;
  text-align: center;
  padding: 15px;
}.head_div{
  text-align: center;
}
/*(.admin_box{
  width: 50%;
  height: 80%;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 1px 1px 15px gray;
  text-align: center;
}*/
.signup_box2{
  width: 50%;
  height: 700px auto;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 1px 1px 15px gray;
  text-align: center;
} 
/* .update_box{s
  width: 0%;
  height: 100% auto;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 1px 1px 15px #6186a7;
  text-align: center;
} */
/* .admin_box .input_forms{
  width: 80%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
} */

.signup_box2 .input_forms{
  width: 80%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.update_box .input_forms{
  width: 80%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.submit_button{
  border:0px;
  border-radius: 3px;
  color: rgb(12, 177, 216);
  box-shadow: 0px 4px 6px gray;
}
.option_buttons a{
  z-index: 1;
  box-shadow: 0px 4px 6px rgb(153, 170, 180);
  border: 0px;
}

/* admin_dashboard  */


/* parent_dashboard */

.parent_d table{
  width: 95%;
  text-align: center;
  margin: auto;
  font-size: small;
  border-bottom: 1px solid black;
}
.parent_d th{
  padding: 15px;
  background: rgb(66, 66, 66);
  border: 1px solid rgb(255, 253, 253);
  color: white;
  border-bottom: 1px solid black;
  text-align: left;
}
.parent_d td{
  padding: 15px;
  border: 1px solid rgb(206, 204, 204);
  border-bottom: 0px ;
  text-align: left;
}

/* tutor_dashboard  */
.tutor_d ul .active{
  font-weight: bold;
  background: white;
  color: black !important;
}
.tutor_d table{
  width: 95%;
  text-align: center;
  margin: auto;
  font-size: small;
  border-bottom: 1px solid black;
}
.tutor_d th{
  padding: 15px;
  background: rgb(109, 108, 108);
  border: 1px solid rgb(255, 253, 253);
  color: white;
  border-bottom: 1px solid black;
  text-align: left;
}
.tutor_d td{
  padding: 15px;
  border: 1px solid rgb(206, 204, 204);
  border-bottom: 0px ;
  text-align: left;
}
.tutor_d tr:nth-child(even){
  background: rgb(240, 236, 236);
}
.tutor_d tr:nth-child(odd){
  background: rgb(255, 255, 255);
}
.tutor_d .search input{
  height: 35px;
  border: 1px solid rgb(143, 138, 138);
  width: 300px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(196, 189, 189) inset;
}
.tutor_d .search-icon{
  border-radius: 2px;
  padding: 20px;
}
.tutor_d .search-icon i{
   padding: 8px;
   padding-top: 5px;
   padding-bottom: 5px;
}